/* Header */

* {
    box-sizing: border-box;
}

header {
    background-color: #333;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: normal;
    color: white;
    width: 100%;
}

header .logo {
    width: 6.5rem; 
    height: 6.5rem;
    margin: 0;
}

header h1 {
    margin-top: 1.5rem;
}


.links li {
    list-style-type: none;
}

.links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #333; 
    padding: 10px 20px 10px 20px;
    color: white;

}

.links a:visited {
    color: white;
}

/* Home Page */
/* About us */
.about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}


/* Shop now */
.shop-now button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
}

/* Customer reviews */

.customer-reviews {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

/* Products Page */

.product-list {
    background-color: #ddd;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
}

.product-list table {
    border-collapse: separate;
    border-spacing: 20px;
    width: 100%; /* Make the table take up the full width of its container */
    table-layout: fixed; /* Distribute the space equally among the columns */
}

.product-list table td {
    background-color: #f9f9f9;
    text-align: center;
    padding: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.product-list table td:hover {
    background-color: #ffffff;
}

.product-list .product-image {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-list .price {
    color: #007BFF;
    font-weight: bold;
}

.product-list button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.product-list button:hover {
    background-color: #45a049;
}

@media screen and (max-width: 748px) {
    .product-image {
        width: 70%;
        height: 70%;
    }   
}

@media screen and (max-width: 480px) {
    .product-list table td{
        display: block;
        width: 100%;
    }
    .product-image {
        width: 100%;
        height: auto;
    
    }
}


/* Footer */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    padding: 10px;
    margin: 0;
    color: white;
}
